/tmp/
/jetbrains-plugins/hubl-language/.gradle/
/jetbrains-plugins/hubl-language/.idea/
/jetbrains-plugins/hubl-language/build/
/jetbrains-plugins/hubl-language/*.jar
/scripts/tmp-hubspot-cms-vscode-repository/
